@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


*{
margin: 0;
padding: 0;
background-color: #e5e3ec;
}

body{
font-family: 'Open Sans', sans-serif;
}

header{

height: 316px;
}